// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// our colors:
$violet: #6E55E0;
$turquoise: #69D6D6;
$dark-blue: #1F2C93;
$secondary-purple: #5C3C9F;
$light-red: #FF928F;
