<div class="banner">
  <h1>COIN TRAVAUX</h1>
  <div class="banner-container">
    <%= image_tag "illu-home.png", alt: "illustration-home-coin-travaux", class:"banner-img" %>
    <div class="main-banner-infos">
      <h2>Choisir le bon entrepreneur ?</h2>
      <h3>Un jeu d’enfant !</h3>
      <%=link_to "Je crée mon projet !", new_project_path, class:"btn-big-white text-decoration-none text-end" %>
    </div>
  </div>
</div>

<div class="content-banner">
  <div class="d-flex justify-content-between">
    <div class="content-category border-right">
      <h2 class="mb-2"><i class="fa-solid fa-thumbs-up"></i></h2>
      <h5>Rendez-vous simplifié</h5>
      <p>Créez votre projet en quelques clics et trouvez des entrepreneurs dont l'expertise est adaptée à votre besoin.</p>
    </div>
    <div class="content-category border-right">
      <h2 class="mb-2"><i class="fa-solid fa-eye me-2"></i></h2>
      <h5>Visite virtuelle gratuite</h5>
      <p>Bénéficiez d'un accompagnement pendant une visite de votre futur potentiel bien, afin d'avoir un avis avant tout investissement.</p>
    </div>
    <div class="content-category">
      <h2 class="mb-2"><i class="fa-solid fa-file-circle-check"></i></h2>
      <h5>Comparaison d'offres</h5>
      <p>Laissez-vous porter : d'autres entrepreneurs peuvent se positionner en visionnant votre visite virtuelle et vous faire une proposition. </p>
    </div>
  </div>
</div>
