

<div>
  <div class="banner">
    <div class="container-home">
      <div class="title">COIN</div>
      <div class="title">TRAVAUX</div>
      <br>
      <h2>Choisir le bon entrepreneur ?</h2>
      <h3>Un jeu d’enfant !</h3>
      <br>
      <br>
      <div class="text-end" ><%=link_to "Je crée mon projet !", new_project_path, class:"btn-big-white text-decoration-none" %></div>
    </div>
  </div>
</div>
