<h1>show company</h1>

<div class="container">
  <p><%= @company.description %></p>
  <p><%= @company.name %></p>
  <p><%= @company.address %></p>
  <p><%= @company.find(:id). %></p>
  <p>Site et réseaux sociaux</p>
</div>
