.banner {
  background-color: $purple;
  min-height: 60vh;
  max-height: 80vh;
  padding: 4em 10em 0;
}

.banner-container {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-gap: 0em;
  margin-top: -1em;
  .main-banner-infos {
    text-align: right;
  }
}


.banner-img {
  width: 100%;
  position: relative;
  bottom: -2em;
  left: -2em;
}

.banner h1 {
  font-family: $headers-font;
  font-size: 60px;
  color: white;
  margin-right: 30%;
  margin-bottom: -3px;
}

.banner h2 {
  color: white;
  font-weight: 300;
  font-family: "Inter";
  font-size: 30px;
  text-align: right;
  padding-top: 2em;
}

.banner h3 {
  color: $turquoise;
  font-family: "Inter";
  font-weight: 900;
  font-size: 30px;
  text-align: right;
  margin-top: 0.5em;
}
