.banner {
  background-color: $violet;
  min-height: 70vh;
  padding: 4em 10em 0;
  .btn-big-white {
    background-color: white;
    color: $dark-blue;
    font-family: "Pangolin";
    font-size: 20px;
    padding: 15px 55px;
    border-radius: 10px;
    margin-top: 4rem;
    display: inline-block;
  }
}

.banner-container {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-gap: 0em;
  margin-top: -1em;
  .main-banner-infos {
    text-align: right;
  }
}


.banner-img {
  width: 100%;
  position: relative;
  bottom: -3em;
  left: -2em;
}

.banner h1 {
  font-family: "Pangolin";
  font-size: 60px;
  color: white;
  margin-right: 30%;
  margin-bottom: -3px;
}

.banner h2 {
  color: white;
  font-weight: 300;
  font-family: "Inter";
  font-size: 30px;
  text-align: right;
  padding-top: 2em;
}

.banner h3 {
  color: $turquoise;
  font-family: "Inter";
  font-weight: 900;
  font-size: 30px;
  text-align: right;
  margin-top: 0.5em;
}
