.card-company {
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  .card-company-infos {
    padding: 16px;
    color: black;
    width: 100%
  };
  #stars {
    font-size: 13px;
  }
}

#stars-show {
  font-size: 13px;
  margin-top: -7px;
}

.card-company h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 160;
  color: black
}

.card-company p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.text-clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
