.card-call-mobile {
  padding: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
  p {
    flex-grow: 1;
    padding: 0 1.5rem;
  }
  .justify-content-between{
    align-items: center;
    justify-content: space-between;
  }

  .sm-9{
    margin: 0;
    // padding-left: 1em;
  }

  .fa-solid{
    position: relative;
    top: 2px;
  }

  #day{
    font-size: 50px;
    margin: 0px;
  }

  #month{
    margin-top: -10px;
  }
  #hour{
    margin-top: -8px;
    font-size: 20px;
  }

  .buddy{
    video {
      position: fixed;
      left: 0;
      bottom: 40px;
      width: 100vw;
    }
  }

  // .btn-danger {
  //   position: fixed;
  //   bottom: 67px;
  //   margin-left: -28px;
  // }
}
