.tab-content {
  min-height: 30vh;

  .tab-desc {
    font-size: 13px;
  }
}

// nav button {
//   text-decoration: none!important;
// }

nav button:hover {
  border-bottom: 4px solid $turquoise!important;
}
